@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #414353;
  padding-top: 93px;
  animation: fadeIn 1s ease-in;

}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background: #333333;
}

body::-webkit-scrollbar-thumb {
  background-color: #666666;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #ffc107;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-dark-75 {
  background-color: #2C2E36;
}

.bg-dark-50 {
  
  background-color: #414650;
}