.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: var(--bs-dark); /* Set card background to .bg dark */
}

.card-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--bs-warning); /* Set title color to warning */
}

.form-label {
  font-weight: bold;
  color: var(--bs-secondary); /* Set label color to secondary */
}

.form-select,
.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: var(--bs-secondary); /* Set button background to secondary */
  border: none;
  color: white; /* Set button text color */
}

.btn-primary:hover {
  background-color: var(--bs-darkblue); /* Set button hover background to bg a darkblue */
}

.form-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bg-dark {
  background-color: var(--bs-dark); /* Set background dark to .bg dark */
}

.bg-secondary {
  background-color: var(--bs-secondary); /* Set background secondary to .bg secondary */
}

.bg-light {
  color: var(--bs-bglight); /* Set font color to bglight */
}
