/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-select,
.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  border: none;
}

.btn-primary:hover {
  background-color: slategray;
}

.form-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */
