.modal-background{
  width: 100vw;
  height: 200vw;
  background-color: black;
  opacity: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000
}

.modal-foreground{
  z-index: 1001
}