

.slider-container {
  max-width: 800px;
  margin: 0 auto;
}

.slider-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.excercise-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: white;
  opacity: 75%;
  margin-bottom: 10px;
  border-radius: 50%;
}

.excercise-icon {
  font-size: 30px;
}

.exercise {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.date {
  font-size: 14px;
  color: #777;
}
