.title-container{
  position: relative;
  top: 0;
  left: 0;
}

.overlay-image {
  position: absolute;
  height: 175px;
  width: 175px;
  opacity: 0.5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-icon{
  font-size: 100px;
}